*{
    text-align : center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 239, 232);
}

.header{
    color: #ff7f50;
    font-weight:600;
    font-size : 36px;
}

.first-recipe,
.second-recipe,
.third-recipe{
    font-size : 28px;
}

.first-recipe{   
    color : rgb(240, 176, 93);    
}

.second-recipe{
    color: rgb(240, 196, 138);
}

.third-recipe{
    color: rgb(248, 211, 163);
}